body{ 
    color: #7b7025;
    background-position: center;
}
.main-content-area{
    clear:both;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffffffe3;
    width: 80%;
    border: solid 4px #ffffff;
    border-radius: 5px;
}
h1{
    font-size: 36px;
    text-align: center;
    padding: 10px 0;
}
.center-p{
    text-align: center;
}
header{
    background-color: #ffffff;
    padding: 0 20px;
    margin-top: 20px;
}
.homepage-logo{
    /* float: left; */
    width: 20%;
    display: inline-block;
}
nav{
    display: inline-block;
    float: right;
    padding-top: 5%;
    margin-right: 20px;
}
nav a{
    padding: 10px;
    font-size: 18px;
}
nav a:hover{
    font-weight: bold;
}
.current-navigation-item{
    color: #7b7025;
    text-decoration-line: none;
}
.other-navigation-item{
    color: #bab17c;
    text-decoration-line: none;
}
.display-pic{
    width: 60%;
    display: block;
    margin: auto;
    border-radius: 5px;
}
.about-text-area{
    padding: 20px;
}
.gallery-pic{
    width: 20%;
    padding: 2%;
    border-radius: 30px;
}